{% extends 'base.html' %}
{% load static %}

{% block title%}
   Terms of Service
{% endblock %}

{% block content %}
   <div class="terms">
      <h1>
         Terms of Service
     </h1>
      <div class="body">
         <h5>
            Description of Service
         </h5>
         <p>
            This contract is inclusive of the following services:
         </p>
         <ul>
            <li>
               Developing the Design Concept based on the inputs from the Client.
            </li>
            <li>
               Selecting the right materials
            </li>
            <li>
               Preparing all necessary detailed working drawing in AutoCAD.etc.
            </li>
            <li>
               Site Supervision.
            </li>
            <li>
               Design &amp; Layout.
            </li>
            <li>
               Civil Work
            </li>
            <li>
               Plumbing Work
            </li>
            <li>
               Electrical Work
            </li>
            <li>
               False Ceiling Work
            </li>
            <li>
               Fabrication work
            </li>
            <li>
               Carpentry
            </li>
         </ul>
         <p>All interior design services listed above shall be completed according to the scheduled completion
            date which is the last day of April should the work commence on Feb 01 2020.
         </p>
         <h5>Payment</h5>
         <p>Payment will be accepted in the form of cash, online transfer or check as agreed by the Service
            Provider.
            All payments below are inclusive of any taxes and fees if any and will be made due upon the
            completion of this interior design contract.
            GST will be applicable on the below total.
         </p>
         <ol>
            <li>
               2 Lakhs advance along with contract towards design development.
            </li>
            <li>
               40% advance payment towards work commencement.
            </li>
            <li>
               30% amount against the initial ply work before lamination.
            </li>
            <li>
               20% amount towards finishing.
            </li>
            <li>
               5% against the final commissioning.
            </li>
         </ol>
         <h5>Late Fees</h5>
         <p>
            Any payments not received within 15 days of this interior design contract’s completion will be
            considered late.
         </p>
         <h5>Confidentiality</h5>
         <p>The Service Provider as well all individuals representing the Service Provider shall not under any
            circumstances divulge or communicate any Client’s information which can be reasonably
            considered private or confidential.
            Violation of this confidentiality clause shall be grounds for legal action against the offending party.
            Upon the conclusion of this contract the Client will return all documents, drawings, and forms to the
            Service Provider and will receive any necessary copies for their records.
         </p>
         <h5>
            Indemnification
         </h5>
         <p>The Client agrees to hold the Service Provider harmless in the instance of injury, loss, or damages
            beyond the Service Provider’s control during this contract term.
         </p>
         <h5>
            Warranty
         </h5>
         <p>The Service Provider provides three-year warranty for the services provided. However, the Client
            is entitled to any manufacturer’s warranties for items installed as a part of this interior design
            contract and fixing up of any furniture systems proved faulty, warranties related to Modular Kitchen
            &amp; Appliances shall be held between the manufacturer and the Client, the Service Provider is in no
            way obligated to engage in, initiate, or support warranty claims.
         </p>
         <h5>
            Remedies
         </h5>
         <p>Any damages awarded due to willful misconduct or gross negligence by either party shall be
            limited to the total financial amount listed in this interior design contract.
         </p>
         <h5>
            Jurisdiction
         </h5>
         <p>
            This interior design contract shall be judged in accordance with the Indian Contracts Act 1950.
         </p>
         <h5>
            Entire Agreement
         </h5>
         <p>
            This interior design contract in its entirety shall serve as the whole agreement between the Parties.
            Furthermore, this contract shall supersede any and all previous agreements whether verbal or
            written
         </p>
         <h5>
            Surviving Agreement
         </h5>
         <p>If any terms or conditions set forth in this interior design contract are found to be invalid or
            unenforceable, the parties shall replace that term with one of close similarity.The replacing of any term or condition as mentioned above shall not void or terminate this contract
            under any grounds.
            Additionally, failure by either party to uphold or enforce any aspect of this interior design contract
            shall not constitute a waiver of any other aspect of the contract, and the contract shall remain in full
            effect.
            This contract may not be modified except in writing with signature by both parties.
            The Parties agree to communicate with one another as necessary to complete the listed interior
            design services.
         </p>
         <p>
            Service Provider: <strong>JM Consilium</strong> <br>
            Phone: +91 8104644576 <br>
            Email: johnmoses@jmconsilium.com <br>
         </p>
      </div>
   </div>
{% endblock %}